.cart-place {
    color: #73625D;
}

.cart-place .title {
    float: left;
    padding-left: 0px;
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cart-place .cart-table-place .cart-table {
    width: 100%;
    border-spacing: 0px;
}

.cart-place .cart-table-place .cart-table .header {
    height: 50px;
    background-color: #FECE86;
    font-weight: bold;
    text-align: center;
}

.cart-place .profit {
    width: 100%;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-place .promo-and-sum {
    width: 100%;
    position: relative;
    margin-top: 20px;
}

.cart-place .promo-and-sum .promo .label {
    float: left;
    margin-right: 25px;
    font-weight: bold;
    padding-top: 3px;
}

.cart-place .promo-and-sum .promo img {
    position: absolute;
    left: 485px;
    top: -5px;
}

.cart-place .promo-and-sum .promo .promo-text{
    background-color: #F7F7EF;
    border: 1px solid #73625D;
    outline: none;
    padding: 4px 0 4px 4px;
    width: 300px;
}

.cart-place .promo-and-sum .sum {
    position: absolute;
    right: 0px;
    width: 225px;
    top: -2px;
}

.cart-place .promo-and-sum .sum .label {
    float: left;
    font-weight: bold;
    font-size: 25px;
}

.cart-place .promo-and-sum .sum .value {
    font-weight: bold;
    font-size: 25px;
    text-align: right;
    color: #C90207;
}

.cart-place .delivery {
    position: relative;
    margin-top: 50px;
}

.cart-place .delivery span{
    font-weight: bold;
}

.cart-place .delivery .info {
    margin-top: 20px;
    font-weight: bold;
    font-size: smaller;
}

.delivery input[type="radio"] {
    margin-left: 0px;
    margin-right: 10px;
}

.cart-place .delivery .sum-with-delivery {
    float: right;
    right: 0px;
    width: 225px;
    top: -2px;
}

.cart-place .delivery .sum-with-delivery .label {
    float: left;
    font-weight: bold;
}

.cart-place .delivery .sum-with-delivery .value {
    font-weight: bold;
    text-align: right;
    color: #C90207;
}


.cart-place .payment {
    position: relative;
    margin-top: 50px;
}

.cart-place .payment span{
    font-weight: bold;
}

.cart-place .payment .info {
    margin-top: 20px;
    font-weight: bold;
    font-size: smaller;
}

.payment input[type="radio"] {
    margin-left: 0px;
    margin-right: 10px;
}

.delete {
    cursor: pointer;
    background-color: #645250;
    padding: 10px;
    width: 19px;
    height: 19px;
}

.cart-table .logo {
    width: 180px;
}

.amount {
    width: 100%;
    overflow: auto;
    height: 25px;
    background-color: #FECE86;
    padding-bottom: 3px;
    padding-top: 3px;
}

.amount .less {
    cursor: pointer;
    width: 25%;
    float: left;
    height: 100%;
    position: relative;
    color: #60554A;
    font-weight: bold;
}

.amount .display {
    width: 50%;
    float: left;
    height: 100%;
    position: relative;
    background-color: #60554A;
    color: white;
    font-weight: bold;
}

.amount .display .info {
    position: absolute;
    top: 3px;
    left: 20px;
}

.amount .more {
    cursor: pointer;
    width: 25%;
    float: left;
    height: 100%;
    position: relative;
    color: #60554A;
    font-weight: bold;
}

.amount-place {
    padding-left: 20px;
    padding-right: 20px;
}

.user-info {
    width: 520px;
}

.user-info label {
    margin-right: 20px;
    font-weight: bold;
}

.user-info .form-group {
    margin-bottom: 5px;
}

.user-info .form-group input {
    outline: none;
}

.user-info .form-group .help-block {
    color: red;
    text-align: right;
}

#cartform-name {
    width: 460px;
}

#cartform-surname {
    width: 420px;
}

#cartform-email {
    width: 445px;
}

#cartform-retypeemail {
    width: 358px;
}

#cartform-phone {
    width: 380px;
}

#cartform-address {
    width: 452px;
}

#cartform-index {
    width: 444px;
}

#cartform-city {
    width: 452px;
}

#cartform-region {
    width: 445px;
}