/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.04.2015, 23:03:36
    Author     : dimuska139
*/

.consultant {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    z-index: 20;
    border: 1px solid black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    overflow: hidden;
    width: 275px;
    height: 480px;
}

.consultant .header {
    cursor: move;
    background-color: #67544E;
    height: 30px;
    position: relative;
}

.consultant .info {
    background-color: #F7F7EF;
    border-bottom: 1px solid lightgrey;
    height: 55px;
    padding: 10px;
}

.consultant .info .photo-place {
    width: 65px;
    float: left;
}

.consultant .info .name {
    position: relative;
}

.consultant .info .name .name-text {
    font-size: 17px;
}

.consultant .info .name .descr {
    position: absolute;
    font-size: 14px;
    color: #B0ADA6;
    top: 30px;
}

.consultant .info .photo-place .photo {
    border: 1px solid black;
    overflow: hidden;
    width: 50px;
}

.consultant .info .photo-place .photo img {
    max-width: 50px;
    width: expression(this.width > 50 ? "50px" : this.width); 
}

.consultant .username {
    padding: 20px 10px 20px 10px;
    background-color: #F7F7EF;
    border-bottom: 1px solid lightgrey;
}

.consultant .username label {
    font-size: 12px;
    color: #73625D;
}

.consultant .username input {
    outline: none;
    border: none;
    width: 150px;
}

.consultant .username .offline {
    font-size: 12px;
    color: #73625D;
}

.consultant .username img {
    cursor: pointer;
}

.consultant .closed {
    display: none;
}

.consultant .offline {
    display: none;
}

.consultant .header .indicators {
    float: left;
    margin-top: 6px;
    margin-left: 12px;
}

.consultant .header .ctrls .close {
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 14px;
}

.consultant .header .indicators .red-disabled,
.consultant .header .indicators .green-enabled {
    display: none;
}

.consultant .footer {
    border-top: 1px solid lightgray;
    background-color: #F7F7EF;
    height: 22px;
}

.consultant .chat-place {
    height: 240px;
    background-color: white;
    padding: 5px;
}

.consultant .chat-place .chat {
    background-color: #F7F7EF;
    height: 185px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
    color: #73625D;
}

.consultant .chat-place .text-field {
    padding: 5px;
    background-color: #F7F7EF;
    height: 40px;
    outline: none;
    border: none;
    overflow-y: auto;
    font-size: 12px;
    color: #73625D;
}

.consultant .chat-place .offline .text-field {
    padding: 5px;
    margin-top: 5px;
    background-color: #F7F7EF;
    height: 150px;
    outline: none;
    border: none;
    overflow-y: auto;
    font-size: 12px;
    color: #73625D;
}

.consultant .chat-place .offline .email-fields {
    padding: 5px;
    background-color: #F7F7EF;
}
.consultant .chat-place .offline .email-fields label {
    font-size: 12px;
    color: #73625D;
}


.consultant .chat-place .offline .email-fields input {
    width: 130px;
    right: 20px;
    position: absolute;
    outline: none;
    border: none;
}

.consultant .chat-place .offline .email-fields div {
    margin-bottom: 5px
}

.consultant .message {
    height: 40px;
    position: relative;
    background-color: white;
}

.consultant .message .attach-file-text {
    position: absolute;
    font-size: 12px;
    color: #73625D;
    top: 15px;
    left: 5px;
}

.consultant .message .attach-file-image {
    cursor: pointer;
    position: absolute;
    left: 95px;
    top: 14px;
}

.consultant .message .send-message {
    cursor: pointer;
    position: absolute;
    right: 0px;
    background-color: #645250;
    color: white;
    font-size: 12px;
    padding: 0px 20px 0px 20px;
    top: 15px;
    right: 5px;
}

.consultant-panel {
    display: none;
    cursor: pointer;
    position: relative;
    background-color: #67544E;
    width: 255px;
    height: 45px;
    padding-left: 25px;
    padding-right: 45px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-border-top-radius: 15px;
    -webkit-border-right-radius: 15px;
    -moz-border-top-radius: 15px;
    -moz-border-right-radius: 15px;
    float: right;
    margin-top: -45px;
}

.consultant-panel .can-i-help {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 10px;
}

.consultant-panel .round {
    position: absolute;
    right: 12px;
    top: 4px;
}

.consultant-panel .question {
    position: absolute;
    right: 27px;
    top: 13px;
}