.contacts {
    color: #73625D;
}

.contacts .title {
    margin: 20px 0 40px 30px;
}

.contacts .moscow-address,
.contacts .mahachkala-address,
.contacts .moscow-map,
.contacts .mahachkala-map {
    margin: 10px 0px 10px 30px;
}