.dio {
    color: #73625D;
    margin-bottom: 210px;
}

.dio .title {
    margin: 20px 0 50px 30px;
}

.dio .info-field .line {
}

.dio .info-field .line .img-place {
    float: left;
    position: relative;
    margin-left: 70px;
    margin-right: 30px;
}


.dio .info-field .car {
    height: 150px;
}

.dio .info-field .car .text-place {
    padding-top: 10px
}

.dio .info-field .shop {
    height: 180px;
}

.dio .info-field .post-office {
    height: 135px;
}

.dio .info-field .post-office .text-place {
    padding-top: 15px
}

.dio .info-field .purse {
    height: 170px;
}

.dio .info-field .purse .text-place {
    padding-top: 10px
}

.dio .info-field .nacelle .img-place {
    height: 410px;
}