.item {
    margin-top: 30px;
    overflow: auto;
    width: 75%;
}

.item .name_place {
    overflow: auto;
    margin-bottom: 40px;
}

.item .name_place .name {
    float: left;
    font-weight: bold;
    font-size: larger;
}

.item .name_place .views {
    float: right;
    font-weight: bold;
}

.item .name_place .views img {
    margin-left: 5px;
}

.item .name_place .views span {
    font-size: small;
    color: #73625D;
}

.item .info .left {
    float: left;
    width: 50%;
}

.item .info .left .photos .main img{
    width: 100%;
}

.item .info .left .photos {
    overflow: auto;
    margin-bottom: 30px;
}

.item .info .left .photos .another div {
    float: left;
    width: 33.33%;
}

.item .info .left .photos .another div img {
    width: 100%;
}

.item .info .left .social {
    margin-bottom: 25px;
}

.item .info .left .back {
    font-weight: bold;
    color: #73625D;
}

.item .info .left .back a{
    text-decoration: none;
    color: #73625D;
}

.item .info .right {
    float: right;
    width: 45%;
    margin-left: 5%;
    color: #73625D;
}

.item .info .right .main {
    margin-bottom: 20px;
    overflow: auto;
    color: #948C88;
}

.item .info .right .price {
    overflow: auto;
    margin-bottom: 20px;
}

.item .info .right .price .text {
    float: left;
    width: 30%;
}

.item .info .right .price .value {
    float: right;
    width: 70%;
    font-size: larger;
    margin-top: -2px;
    color: red;
}

.another img {
    cursor: pointer;
}

#add-to-basket {
    cursor: pointer;
    color: red;
    background-color: #F7F7EF;
    border: 2px solid red;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.frame-colors .label {
    float: left;
    margin-right: 30px;
}

#frame-color {
    margin-bottom: 20px;
}

.colors {
    overflow: auto;
}

.colors .color {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
}

.item .info .right .main div {
    overflow: auto;
    font-weight: bold;
}

.item .info .right .main .label {
    float: left;
}

.item .info .right .main .value {
    float: right;
}

.item .info .right .main .param {
    border-bottom: 1px solid #FBEBCF;
    padding-top: 5px;
    padding-bottom: 5px;
}

#page .breadcrumb {
    padding-left: 0px;
    width: 100%;
}

#page .breadcrumb span {
    color: #73625D;
    font-weight: bold;
}

#page .breadcrumb span a {
    text-decoration: none;
    color: #73625D;
    font-weight: bold;
}

#page .breadcrumb span a:hover {
    text-decoration: underline;
}

.popup {
    position: absolute;
    z-index: 2;
    width: 400px;
    height: 320px;
    right: 55px;
    top: 140px;
}

.popup .inner {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-left: 28px;
}

.popup .inner .backing {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -25px;
    margin-right: -25px;
}

.popup .inner .close-button {
    cursor: pointer;
    position: absolute;
    right: -10px;
    top: 15px;
}

.popup .inner .left {
    position: relative;
    width: 35%;
    height: 100%;
    float: left;
}

.popup .inner .left .doctor {
    position: absolute;
    width: 90px;
    left: 20px;
    top: 20px;
}

.popup .inner .left .papers {
    position: absolute;
    width: 90px;
    left: 20px;
    top: 165px;
}

.popup .inner .left .question {
    position: absolute;
    width: 35px;
    right: 15px;
    top: 15px;
}

.popup .inner .right {
    position: relative;
    width: 65%;
    height: 100%;
    float: right;
}

.popup .inner .right .title {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.popup .inner .right .offer {
    color: #73625D;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-top: 12px;
}

.popup .inner .right .profit {
    color: #73625D;
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.popup .inner .right .profit .line {
    margin-bottom: 5px;
    overflow: auto;
}

.popup .inner .right .profit .line .checkbox {
    float: left;
    width: 10%;
}

.popup .inner .right .profit .line .label {
    float: right;
    width: 90%;
}

.popup .inner .right .price {
    color: #73625D;
    font-weight: bold;
    font-size: 15px;
    margin-top: 7px;
}

.popup .inner .right .price span {
    color: red;
}

.popup .inner .right .only-frame {
    cursor: pointer;
    position: absolute;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #67544E;
    padding: 10px 12px 10px 12px;
    left: -75px;
    bottom: 15px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

.popup .inner .right .add-lenses {
    cursor: pointer;
    position: absolute;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border: none;
    background-color: #67544E;
    padding: 10px 12px 10px 12px;
    right: 10px;
    bottom: 15px;
    box-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}