.guestbook {
    color: #73625D;
    margin-bottom: 210px;
}

.guestbook .title {
    margin: 20px 0 40px 30px;
}

#guestbook-form {
    padding-left: 20px;
    width: 650px;
    height: 500px;
}

#guestbook-form input {
    outline: none;
    border: 1px solid #726E6B;
    float: right;
    height: 25px;
    width: 500px;
    color: #73625D;
}

#guestbook-form textarea {
    outline: none;
    border: 1px solid #726E6B;
    float: right;
    width: 496px;
    height: 220px;
    resize: none;
    color: #73625D;
}

.guestbook #guestbook-form .field-guestbookform-comment {
    height: 225px;
}

#guestbook-form label {
    position: absolute;
    top: 5px;
    font-weight: 700;
}

#guestbook-form .help-block {
    color: red;
    position: absolute;
    right: -300px;
    top: 5px;
}

#guestbook-form .form-group {
    margin-bottom: 20px;
    position: relative;
    height: 25px;
}

#guestbook-form .field-guestbookform-verifycode img{
    cursor: pointer;
    position: absolute;
    top: -10px;
    left: 145px;
}

#guestbook-form #guestbookform-verifycode {
    width: 350px;
}
#guestbook-form .btn {
    cursor: pointer;
    background-color: #67544E;
    border: none;
    color: white;
    font-size: large;
    height: 35px;
    width: 215px;
    float: right;
}

.guestbook .comment-sent-message {
    font-size: large;
    font-weight: 700;
    margin-left: 30px;
}

.guestbook .no-comments-message {
    font-size: large;
    font-weight: 700;
}

.guestbook .comments {
    padding-left: 20px;
    padding-right: 20px;
}

.guestbook .comments .comment {
    border: 1px solid #67544E;
    margin-bottom: 30px;
    min-height: 130px;
    background-color: #F7F7EF;
    position: relative;
}

.guestbook .comments .comment .date {
    position: absolute;
    font-size: smaller;
    font-weight: 700;
    right: 30px;
    bottom: 10px;
    letter-spacing: 1px;
}

.guestbook .comments .comment .head {
    background-color: #67544E;
    color: white;
    font-weight: 700;
    padding: 5px 0px 5px 10px;
}

.guestbook .comments .comment .body {
    padding: 15px 10px 30px 10px;
    font-weight: 700;
    color: #67544E;
}