/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06.06.2015, 17:03:46
    Author     : dimuska139
*/

.history {
    overflow: auto;
    width: 98%;
    background-color: #F7F7EF;
    padding: 1%;
    margin-top: 40px;
}

.history .head {
    font-weight: bold;
    color: #73625D;
    padding-left: 10px;
    border-bottom: 2px solid #73625D;
}

.history .body .col {
    width: 14.66%;
    padding: 1%;
    float: left;
}

.history .body .col .history-item {
    cursor: pointer;
    overflow: auto;
    background-color: white;
}

.history .body .col .history-item .logo {
    height: 145px;
}

.history .body .col .history-item .logo img {
    display: block;
    width: 100%;
}

.history .body .col .history-item .name {
    font-weight: bold;
    color: #73625D;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.history .body .col .history-item .price {
    font-weight: bold;
    color: #73625D;
}

.history .body .col .history-item .price span {
    color: red;
}