#special-offer {
    position: relative;
    margin-top: 40px;
    height: 150px;
}

#special-offer .title {
    font-weight: bold;
    color: #65514B;
    margin-bottom: 10px;
}

#special-offer .item {
    width: 163px;
    float: left;
    border-right: 1px solid #E4DFD9;
}

#special-offer .item:last-child{
    border-right: none;
}

#special-offer .item .name {
    text-align: center;
}

#special-offer .item .price {
    text-align: center;
    color: red;
}

#special-offer .item img {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#novelty {
    position: relative;
    margin-top: 50px;
    background-color: #F7F6EE;
    padding-top: 10px;
    overflow: auto;
}

#novelty .title {
    font-weight: bold;
    color: #65514B;
    margin-bottom: 10px;
}

#novelty .col {
    width: 16.56%;
    float: left;
    margin-bottom: 20px;
      border-right: 1px solid #E4DFD9;
}

#novelty .col-6 {
    border-right: none;
}

#novelty .col .item {
    float: left;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border: none;
}

#novelty .col .item:hover {
    border: none;
}

#novelty .col .item .logo {
    padding-right: 20px;
    padding-left: 20px;
    height: 120px;
}

#novelty .col .item .name {
    font-weight: normal;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

#novelty .col .item .price {
    color: red;
    font-weight: normal;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

/*#novelty .item {
    width: 163px;
    float: left;
    border-right: 1px solid #E4DFD9;
}

#novelty .item:last-child{
    border-right: none;
}

#novelty .item .name {
    text-align: center;
}

#novelty .item .price {
    text-align: center;
    color: red;
}

#novelty .item img {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

#novelty .row {
    height: 130px;
}

#novelty .row:first-child {
    margin-bottom: 10px;
}*/