@font-face {
    font-family: AGLettericaCondensedRoman;
    src: url(../fonts/AGLettericaCondensedRoman.eot?) format('eot'),
            url('../fonts/AGLettericaCondensedRoman.woff') format('woff'), 
            url('../fonts/AGLettericaCondensedRoman.ttf') format('truetype'),
            url('../fonts/AGLettericaCondensedRoman.svg#AGLettericaCondensedRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: AGLettericaCondensedRoman;
//    background-image: url(../img/fon.jpg); /* Путь к фоновому изображению */
    background-color: #FFFFFF;
    height: 100%;
}

#main-container {
    position: relative;
/*	width: 100%;
    min-width: 940px;
    max-width: 1400px;*/
    width: 988px; 
    margin: 0 auto;
    padding: 0 0 334px;
    margin-top: -15px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
    min-height: 100%;
}

* html, #main-container {
    height: 100%;
    padding-right: 5px;
    padding-left: 5px;
}

#header {
    position: relative;
    text-align: right;
    width: 100%;
    margin-bottom: 25px;
    padding-top: 25px;
    height: 90px;
}

#header .address {
    position: absolute;
    color: #73625D;
    right: 205px;
}

#header .search-and-basket {
    position: absolute;
    color: #73625D;
    top: 10px;
    right: 0px;
    width: 190px;
}

#address .phone-text {
    font-weight: bolder;
}

#page {
    position: relative;
    width: 100%;
}

#hFooter {
    clear: both;
    height: 245px;
}

#footer {
    border: 1px solid #E4DFD9;
    background-color: #F5EFE3;
    position: relative;
    width: 100%;
    margin-top: -235px;
    height: 235px;
    margin: 0 auto;
}

#footer-links {
    height: 65px;
}

#footer-links ul {
    list-style: none;
    width: 560px;
    margin: 0 auto;
    margin-top: 15px;
}

#footer-links ul li {
    cursor: pointer;
    font-size: 15px;
    color: #73625D;
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    text-align: center;
    height: 25px;
    width: 80px;
}

#footer-links ul li a {
    text-decoration: none;
    color: #73625D;
}


#footer-container {
    position: relative;
    width: 988px;
/*	width: 100%;
    min-width: 940px;
    max-width: 1400px;*/
    margin: 0 auto;
}

#footer-contact {
    color: #73625D;
    float: left;
    text-align: left;
    margin-left: 10px;
}



#category-menu ul {
    list-style: none;
    margin: 0 auto;
    margin-left: -40px;
    height: 100%;
}

#category-menu ul li {
    cursor: pointer;
    float: left;
    font-weight: bold;
    text-align: center;
    height: 100%;
}

#category-menu ul li .text {
    width: 100%;
    position: absolute;
    top: 13px;
}

#category-menu ul selected {
    background-color: #E4E4DF;
    color: #67544E;
    border-radius: 5px;
}

#category-menu ul .sunglasses {
    width: 260px;
    position: relative;
}

#category-menu ul .frames {
    width: 135px;
    position: relative;
}

#category-menu ul .lenses {
    width: 240px;
    position: relative;
}

#category-menu ul .related {
    width: 260px;
    position: relative;
}

#category-menu ul .brands {
    width: 110px;
    position: relative;
}

#category-menu ul .events {
    color: #FBCF86;
    width: 93px;
    position: relative;
    background-color: #7F6F69;
}

.delimiter {
    border-right: 1px solid #FDCE89;
    height: 30px;
      margin-top: -24px;
    z-index: 1;
}

#category-menu {
    position: relative;
    height: 45px;
    color: white;
    background-color: #67544E;
    border-top: 5px solid #FBCF86;
    border-bottom: 5px solid #FBCF86;
    box-shadow: 0 5px 17px -4px rgba(0, 0, 0, .3);
}

#category-menu ul .opened {
   // display: none;
    position: absolute;
    background-color: #F7F7EF;
    color: #67544E;
    z-index: 10;
    top: 0px;
    overflow: auto;
    width: 100%;
    -webkit-box-shadow: 2px 4px 3px #888;
    -moz-box-shadow: 2px 4px 3px #888;
    box-shadow: 2px 4px 3px #888;
    padding-bottom: 10px;
    font-size: large;
    display: none;
}

#category-menu ul .opened .header {
    font-weight: bold;
    height: 45px;
    position: relative;
}

#category-menu ul .opened .header .text {
    position: absolute;
    left: -20px;
}

#category-menu ul .opened .header .filter-arrow {
    position: absolute;
    right: 20px;
    top: 15px;
}

#category-menu ul .opened .filters {
    float: left;
    width: 100%;
}

#category-menu ul .opened .filters .filter{
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
}

#category-menu ul .opened .filters .filter:hover{
    color: #FBCF86;
}

#logo {
    background-image: url("../img/logo.png");
    height: 103px;
    width: 436px;
    position: absolute;
}

#basket {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 15px;
    background-color: #F7F6EE;
    border: 1px solid #B0ADA6;
    width: 190px;
}

#basket .icon {
    float: left;
    height: 20px;
    padding: 10px;
    border-right: 1px solid #B0ADA6;
}

#basket .field {
    text-align: center;
    width: 95px;
    float: left;
    height: 20px;
    padding: 10px;
    border-right: 1px solid #B0ADA6;
    color: #B0ADA6;
}

#basket .counter {
    position: relative;
    float: left;
    height: 20px;
    font-weight: bold;
}

#basket .counter span {
    position: absolute;
    top: 11px;
    left: 9px;
}

#search {
    position: absolute;
    right: 2px;
    top: 80px;
    width: 190px;
}

#search .field {
    border: 1px solid #B0ADA6;
    padding-left: 55px;
    height: 23px;
    background-color: #F7F6EE;
    outline: none;
    width: 135px;
}

#search .icon-place {
    position: absolute;
    width: 43px;
    height: 100%;
    border-right: 1px solid #B0ADA6;
    top: 0px;
}

#search button {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    background-image: none;
    background: none;
    border: 0px;
    outline: none;
}


.content {
    margin-top: 30px;
    overflow: auto;
}

.content [class*='col-'] {
    float: left;
    border-top: 1px solid #FFC462;
    border-right: 1px solid #FFC462;
}


.content .col {
    border-color: #FFC462;
    padding: 10px;
}

.content .col-1 {
  //  float: left;
    padding: 2% 2% 2% 0%;
  //  padding: 10px 10px 10px 0px;
}

.content .col-1 .item {
    float: left;
}

.content .col-2 {
   // padding: 10px;
   padding: 2%;
}

.content .col-3 {
  //  float: right;
  //  padding: 10px 0px 10px 10px;
    padding: 2% 0% 2% 2%;
}

.content .col-3 .item {
    float: right;
}



.content .col:nth-child(1) {
    border-top: none;
    padding: 2% 2% 2% 0%;
}

.content .col:nth-child(2) {
    border-top: none;
    padding: 2%;
}

.content .col:nth-child(3) {
    border-top: none;
    padding: 2% 0% 2% 2%;
}

.content .col-3 {
    border-right: none;
}

.content .col-1,
.content .col-3 {
    width: 31.2%;
}
.content .col-2 {
    width: 29.3%;
}

.content :last-child .col-1 {
    border-bottom: none !important;
}

.col .item .name {
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold;
    height: 20px;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.col .item .logo {
    height: 150px;
    overflow: hidden;
}

.col .item {
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    border: 1px solid white;
}

.col .item:hover {
    border: 1px solid #FFC462;
}

.col .item .logo img {
    display: block;
    width: 100%;
}
.col .item .bottom {
    position: relative;
    height: 65px;
}

.col .item .bottom .basket {
    position: absolute;
    right: 3px;
    top: 10px;
}

.col .item .bottom .price {
    position: absolute;
    font-weight: bold;
    font-size: 23px;
    color: #FD9123;
    top: 13px;
}

#sortby-filter .header .text{
    padding: 3px;
}

#sortby-filter .header .arrow-place {
    height: 23px;
    border-left: none;
}

#sortby-filter .header .arrow-place img {
    top: 6px;
}

.no-goods-message {
    color: #6D5852;
}