/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.06.2015, 22:19:45
    Author     : dimuska139
*/

.news-page {
    padding-left: 25px;
    padding-right: 25px;
}

.news-place {
    padding-top: 15px;
}

.news-place .optica_paginator {
    text-align: center;
}

.news-place .title {
    color: #73625D;
    font-weight: bold;
}

.news-place .content {
    margin-top: 10px;
    margin-bottom: 10px;
}

.news {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    border-bottom: 1px solid #73625D;
}

.news .logo {
    float: left;
    padding-right: 1%;
    width: 14%;
}

.news .logo img {
    width: 100%;
}

.news .info {
    width: 85%;
}

.news .info .title {
    color: #E5190A;
}

.news .info .text {
    font-weight: bold;
    color: #73625D;
    font-size: 19px;
}

.news .more {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 0px;
    font-weight: bold;
    color: #FBCF86;
}