/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.06.2015, 23:57:15
    Author     : dimuska139
*/

#page .breadcrumb {
    padding-left: 0px;
    width: 100%;
}

#page .breadcrumb span {
    color: #73625D;
    font-weight: bold;
}

#page .breadcrumb span a {
    text-decoration: none;
    color: #73625D;
    font-weight: bold;
}

#page .breadcrumb span a:hover {
    text-decoration: underline;
}

.news .title {
    text-align: center;
    color: #73625D;
}

.news {
    color: #73625D;
}

.news .text img {
    display: block;
}

.news .back a {
    text-decoration: none;
    color: #73625D;
    float: right;
    margin-top: 50px;
}