.optica_paginator {
    height: 20px;
    font-weight: bold;
    color: #73625D;
    font-size: 14px;
}

.optica_paginator .page {
    cursor: pointer;
}

.optica_paginator .selected {
    font-size: larger;
    text-decoration: underline;
}

.optica_paginator .home,
.optica_paginator .prev,
.optica_paginator .next,
.optica_paginator .end {
    cursor: pointer;
}

.optica_paginator .next {
    padding-right: 10px;
}

.optica_paginator .home {
    padding-right: 10px;
}

.optica_paginator .home,
.optica_paginator .prev,
.optica_paginator .end,
.optica_paginator .next{
    display: none;
}