.optica_select {
    cursor: pointer;
    color: #73625D;
    position: relative;
}

.optica_select .header {
    position: relative;
    border: 2px solid #6D5852;
}

.optica_select .header .text {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.optica_select .header .arrow-place {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 27px;
    width: 30px;
    border-left: inherit;
}

.optica_select .header .arrow-place img {
    position: absolute;
    right: 8px;
    top: 8px;
}

.optica_select .list {
    display: none;
    background-color: #F7F7EF;
    padding: 0px 0px 10px 0px;
    box-shadow: 0 5px 17px -4px rgba(0, 0, 0, .3);
 //   position: absolute;
    width: 100%;
    z-index: 1;
}

.optica_select .list div {
    padding: 0px 5px 0px 5px;
}

.optica_select .list div:hover {
    background-color: #E0E0D9;
}

.optica_select .list .selected {
    color: white;
    background-color: #67544E;
    font-weight: 600;
}
