.optica_select_slider {
    cursor: pointer;
    color: #73625D;
    position: relative;
}

.optica_select_slider .header {
    position: relative;
    border: 2px solid #6D5852;
}

.optica_select_slider .header .text {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
}

.optica_select_slider .header .arrow-place {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 27px;
    width: 30px;
    border-left: inherit;
}

.optica_select_slider .header .arrow-place img {
    position: absolute;
    right: 8px;
    top: 8px;
}

.optica_select_slider .slider-place {
    display: none;
    height: 45px;
    background-color: #F7F7EF;
    padding: 15px 10px 10px 10px;
    box-shadow: 0 5px 17px -4px rgba(0, 0, 0, .3);
    position: relative;
 //   width: 100%;
    z-index: 1;
}

/* Ширина слайдера */

.slider-place .slider {
    width: 100%;
    overflow: visible;
}
/* Контейнер слайдера */
.ui-slider {
    position: relative;
}
/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 13px;   /* Задаем нужную ширину */
    height: 20px;  /* и высоту */
    background-color: #645744;
 //   background: url(../img/slider.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;
}
/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */
.ui-slider-horizontal {
     height: 10px; /* задаем высоту согласно дизайна */
}
/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle { 
    top: -5px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min { 
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}
/* оформление полосы по которой ходит ползунок */
.ui-widget-content { 
    border: 1px solid #645744;
    background: #fff;
}
/* оформление активного участка (между двумя ползунками) */
.ui-widget-header { 
    border: 1px solid #D4D4D4;
    background: #95774B;
}
/* скругление для полосы слайдера */
.ui-corner-all {
 /*   -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;*/
}

.optica_select_slider .slider-place .from {
    float: left;
}
.optica_select_slider .slider-place .to {
    float: right;
}