/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.05.2015, 17:24:54
    Author     : dimuska139
*/


.buttons-group .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
    background-color: #F7F7EF;
    color: #F3C18E;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 2px 4px 3px #888;
    -moz-box-shadow: 2px 4px 3px #888;
    box-shadow: 2px 4px 3px #888;
}

.buttons-group .btn.pressed{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.buttons-group [class*='col-'] {
    float: left;
}

.buttons-group .col {
    padding-top: 10px;
    padding-bottom: 10px;
}

.buttons-group .col-1,
.buttons-group .col-2,
.buttons-group .col-3 {
  width: 33.3%;
}

.buttons-group .col-1 .btn {
    float: left;
    width: 95%;
}

.buttons-group .col-3 .btn {
    float: right;
    width: 95%;
}

.buttons-group .col-50-1,
.buttons-group .col-50-2 {
    width: 50%;
}

.buttons-group .col-50-1 .btn {
    float: left;
    width: 95%;
}

.buttons-group .col-50-2 .btn {
    float: right;
    width: 95%;
}