/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.06.2015, 1:08:18
    Author     : dimuska139
*/

.search-page {
    margin-top: 40px;
}

.search-page .search-params {
    width: 300px;
    float: left;
}

.search-page .search-place {
    float: right;
    width: 688px;
    margin-top: 15px;
}

.search-params {
    color: #73625D;
}

.search-params .title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.search-params .optica_select.price-filter {
    width: 60%;
}

.search-params .search-title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    font-weight: bold;
}

.search-params .optica_select_panel.brands-filter {
    width: 60%;
}

.search-params .optica_select_panel.forms-filter {
    width: 60%;
}

.search-params .optica_select_panel.forms-filter div img {
    margin-right: 5px;
}

.search-params .optica_select_panel.forms-filter div span {
    position: absolute;
}

.search-params .optica_select_panel.frame-filter {
    width: 60%;
}

.search-params .optica_select_panel.frame-filter div img {
    margin-right: 5px;
}

.search-params .optica_select_panel.frame-filter div span {
    position: absolute;
}

.search-params .optica_select.lens-color-filter,
.search-params .optica_select.frame-color-filter,
.search-params .optica_select_panel.material-filter {
    width: 60%;
}

.search-params .clear-filters {
    cursor: pointer;
    border: 1px solid;
    width: 110px;
    text-align: center;
    margin-top: 30px;
    margin-left: 20px;
}

.search-params .clear-filters:hover {
    color: white;
    background-color: #67544E;
}

.breadcrumb {
    margin-left: -40px;
    font-size: 9pt;
    font-weight: bold;
    margin-top: -10px;
}
.breadcrumb span a {
    text-decoration: none;
}

.breadcrumb span,
.breadcrumb span a {
    color: #73625D;
}

.search-place .title {
    font-weight: bold;
    font-size: 16pt;
}

.sortby {
    position: relative;
    width: 300px;
    height: 30px;
}

.sortby span {
    position: absolute;
    top: 4px;
}

.sortby .sortby-filter {
    width: 180px;
    float: right;
}

#sortby-filter .list {
    position: absolute;
}

.sortby-and-paging {
    height: 30px;
    position: relative;
}

.sortby-and-paging .optica_paginator {
    position: absolute;
    right: 0px;
    top: 5px;
}

.optica_paginator.bottom {
    float: right;
    margin-top: 20px;
}

.subtype-buttons {
    margin-bottom: 35px;
    height: 50px;
}

.in_cart {
    text-decoration: none;
    color: #73625D;
    top: 20px;
    right: 20px;
    position: absolute;
    border-bottom: 1px solid;
}

.in_cart:hover {
    border-bottom: none;
}

.good-types {
    margin-bottom: 25px;
    width: 70%;
}