.slider {
    z-index: 9;
    width: 988px;
    height: 290px;
    overflow: hidden;
    margin: 0 0 7px;
    position: relative;
}
 
.slider ul, .slider li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slider ul {
    width: 9999px; 
}

.slider ul li {
    float: right;
    list-style-type: none;
    float: left;
    width: 988px;
    height: 290px;
}

.slider ul li img {
    width: 100%;
}
 
.slider .nav {
    position: absolute;
    right: 30px;
    bottom: 20px; 
}
 
.slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
//    box-shadow: 0 1px 2px #000;
}
 
.slider .nav span.on {
    background: #B0A99F;
}

.slider .slider-background {
    position: absolute;
    margin-left: -1px;
}

.slider .slider-glasses {
    position: absolute;
    top: 130px;
}