.item {
    margin-top: 30px;
    overflow: auto;
    width: 75%;
}

.item .name_place {
    overflow: auto;
    margin-bottom: 40px;
}

.item .name_place .name {
    float: left;
    font-weight: bold;
    font-size: larger;
}

.item .name_place .views {
    float: right;
    font-weight: bold;
}

.item .name_place .views img {
    margin-left: 5px;
}

.item .name_place .views span {
    font-size: small;
    color: #73625D;
}

.item .info {
    overflow: auto;
}


.item .info .left {
    float: left;
    width: 50%;
}

.item .info .left .photos .main img{
    width: 100%;
}

.item .info .left .photos {
    overflow: auto;
    margin-bottom: 30px;
}

.item .info .left .photos .another div {
    float: left;
    width: 33.33%;
}

.item .info .left .photos .another div img {
    width: 100%;
}

.item .info .left .social {
    margin-bottom: 25px;
}

.item .info .left .back {
    font-weight: bold;
    color: #73625D;
}

.item .info .left .back a{
    text-decoration: none;
    color: #73625D;
}

.item .info .right {
    float: right;
    width: 45%;
    margin-left: 5%;
    color: #73625D;
}

.item .info .right .main {
    margin-bottom: 20px;
    overflow: auto;
    color: #948C88;
}

.item .info .right .price {
    overflow: auto;
    margin-bottom: 20px;
}

.item .info .right .price .text {
    float: left;
    width: 30%;
}

.item .info .right .price .value {
    float: right;
    width: 70%;
    font-size: larger;
    margin-top: -2px;
    color: red;
}

.another img {
    cursor: pointer;
}

#add-to-basket {
    cursor: pointer;
    color: red;
    background-color: #F7F7EF;
    border: 2px solid red;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
}

.frame-colors .label {
    float: left;
    margin-right: 30px;
}

#frame-color {
    margin-bottom: 20px;
}

.colors {
    overflow: auto;
}

.colors .color {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer; 
}


.lens-colors .label {
    float: left;
    margin-right: 50px;
}

#lens-color {
    margin-bottom: 20px;
}

.item .info .right .main div {
    overflow: auto;
    font-weight: bold;
}

.item .info .right .main .label {
    float: left;
}

.item .info .right .main .value {
    float: right;
}

.item .info .right .main .param {
    border-bottom: 1px solid #FBEBCF;
    padding-top: 5px;
    padding-bottom: 5px;
}

#page .breadcrumb {
    padding-left: 0px;
    width: 100%;
}

#page .breadcrumb span {
    color: #73625D;
    font-weight: bold;
}

#page .breadcrumb span a {
    text-decoration: none;
    color: #73625D;
    font-weight: bold;
}

#page .breadcrumb span a:hover {
    text-decoration: underline;
}



